---
// src/components/Menu/ContactMenuItem.astro
// Renders a single contact menu item with the correct tel: / mailto: prefix
import { Image } from "astro:assets";
const { item } = Astro.props;
import PhoneIcon from "@/assets/phone.png";
import EmailIcon from "@/assets/email.png";

// const iconClasses = "h-18 lg:h-32 w-auto"

const isPhone = item.id === "phone";
const isEmail = item.id === "email";
const href = isPhone
  ? `tel:${item.slug}`
  : isEmail
  ? `mailto:${item.slug}`
  : item.slug;
---
<li class="mb-[var(--spacing-md)] flex">
  <a
    href={href}
    class="flex flex-col items-start text-lg text-primary hover:text-secondary"
  >
    {isPhone && (
<Image
        src={PhoneIcon}
        alt="Phone Icon"
        class='h-18 lg:h-26 w-auto py-[var(--spacing-sm)]'
      />    )}
    {isEmail && (
      <Image
        src={EmailIcon}
        alt="Email Icon"
        class='h-18 lg:h-20 w-auto py-[var(--spacing-sm)]'
      />
    )}
    <span class="mr-auto pr-[var(--spacing-xs)] h4">{item.label}:</span>
    <span class="text-lg font-thin">{item.slug}</span>
  </a>
</li>
