---
import Form from "@/components/Form/Form.astro";
import TextInput from "@/components/Form/Inputs/TextInput.astro";
import Textarea from "@/components/Form/Inputs/Textarea.astro";
import { getCurrentEntryId } from "@/utils/CurrentEntry";

const {
  inputClasses = "border border-[var(--color-border)] transition-default py-[var(--spacing-sm)] px-[var(--spacing-md)] w-full bg-light-opacity placeholder:text-[var(--color-primary)] text-primary rounded-md",
  wrapperClasses = "mb-[var(--spacing-md)] w-full flex flex-col text-left",
  labelClasses = "text-primary mb-[var(--spacing-xs)] font-thin text-left",
} = Astro.props;

const currentPage = getCurrentEntryId(Astro);
---

<Form
  name="quote-form"
  class="bg-bg py-[var(--spacing-2xl)] px-[var(--spacing-2xl)] rounded-4xl shadow-lg w-[90vw] lg:w-full gap-[var(--spacing-md)] mb-[-100px] xl:mb-[-200px]"
  formClass="pt-[var(--spacing-md)]"
  formLabel="Get in Touch"
  enableSuccessBanner={true}
  successBannerMessage="Thank you for your message. We will get in touch with you shortly."
  successBannerClass="p-[var(--spacing-sm)] bg-primary text-bg rounded"
>
  <input type="hidden" name="Page-of-Submission" value={currentPage} />

  <div class="flex flex-col lg:flex-row lg:space-x-[var(--spacing-sm)] text-sm">
    <div class="w-full lg:w-1/2">
      <TextInput
        name="firstName"
        label="First Name"
        placeholder="First Name"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
        labelClass={labelClasses}
      />
    </div>
    <div class="w-full lg:w-1/2">
      <TextInput
        name="lastName"
        label="Last Name"
        placeholder="Last Name"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
        labelClass={labelClasses}
      />
    </div>
  </div>

  <div class="flex flex-col lg:flex-row lg:space-x-[var(--spacing-sm)]">
    <div class="w-full lg:w-1/2">
      <TextInput
        name="email"
        type="email"
        label="Email Address"
        placeholder="you@example.com"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
        labelClass={labelClasses}
      />
    </div>
    <div class="w-full lg:w-1/2">
      <TextInput
        name="phone"
        type="tel"
        label="Phone Number"
        placeholder="123-456-7890"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
        labelClass={labelClasses}
      />
    </div>
  </div>

  <div class="w-full">
    <Textarea
      name="message"
      label="Message Us"
      placeholder="Tell us more about your needs…"
      required
      rows={5}
      inputClass={inputClasses}
      wrapperClass={wrapperClasses}
      labelClass={labelClasses}
    />
  </div>
</Form>
