---
import { buildMenuQueries } from "@/utils/ArrayQueryUtils";
import Menu from "./Menu/BarMenu/NavMenu.astro";
import { Image } from "astro:assets";
import { SiteData, ContactData } from "@/content/SiteData";
import BackgroundContainer from "./BackgroundContainer.astro";
import KoiVideoPoster from "@/assets/videothumbnail.jpeg";
import KoiVideo from "@/assets/video.mp4";
import Heading from "./Heading";

const FooterMenu = [
  {
    id: "privacy",
    label: "Privacy Policy",
    slug: "/privacy-policy",
    weight: 10,
  },
  { id: "cookie", label: "Cookie Policy", slug: "/cookie-policy", weight: 20 },
  { id: "contact", label: "Contact Us", slug: "/contact-us", weight: 30 },
];
---

<footer class="text-bg">
  <div class="footer-top flex justify-center items-center text-center xl:text-left">
    <BackgroundContainer
      class="bg-cover bg-center bg-fixed flex justify-center items-center py-[var(--spacing-lg)]"
      contentClass="flex justify-center items-center"
      backgroundMedia={{
        video: {
          src: KoiVideo,
          poster: KoiVideoPoster,
          class: "rounded-2xl shadow-lg",
        },
        image: {
          src: KoiVideoPoster,
          imageClass: "bg-cover filter brightness-50 bg-center xl:bg-fixed",
        },
        overlayClass: "bg-primary opacity-60",
      }}
    >
      <div
        class="top-footer-wrap flex items-center justify-between xl:px-[var(--spacing-lg)] flex-col xl:flex-row w-9/10"
      >
        <div class="w-full text-center xl:text-left lg:w-3/4 xl:w-1/4 flex flex-col xl:items-start justify-center items-center">
          <Image
            src={SiteData.logo.src}
            alt={`${SiteData.title} logo`}
            class="h-24 lg:h-20 w-auto"
          />
          <p class="text-lg font-thin pt-[var(--spacing-md)]">{SiteData.description}</p>
        </div>

        <div class="w-full flex justify-end">
          <div class="w-9/10 flex flex-col lg:flex-row justify-between">
            <div class="w-full lg:w-1/5">
              <Heading tagName="h5" className="h5 font-bold pr-[var(--spacing-sm)]">What We Offer:</Heading>
              <Menu
                listClass="flex flex-col justify-center items-center xl:items-start gap-[var(--spacing-xs)] py-[var(--spacing-xs)]"
                items={await buildMenuQueries({ FooterMenu })}
                menuItem={{
                  class:"hover:text-accent"
                }}
              />
            </div>
          <div class="w-full lg:w-1/5">
            <Heading tagName="h5" className="h5 font-bold pr-[var(--spacing-sm)]">Quick Links:</Heading>
            <Menu
              listClass="flex flex-col justify-center items-center xl:items-start gap-[var(--spacing-xs)] py-[var(--spacing-xs)]"
              items={await buildMenuQueries({ FooterMenu })}
              menuItem={{
                class:"hover:text-accent"
              }}
            />
          </div>
          <div class="w-full lg:w-2/5 justify-center items-center xl:items-start text-center xl:text-left">
            <Heading tagName="h5" className="h5 font-bold">Contact Us:</Heading>
            <div class="contact-item flex justify-center xl:justify-start gap-sm">
              <Heading tagName={"label"} class="h6 font-medium">
                Email Us:
              </Heading>
              <a href={`mailto:${ContactData.email}`} class="text-bg hover:text-accent">
                {ContactData.email}
              </a>
            </div>
            <div class="contact-item flex justify-center xl:justify-start gap-sm">
              <Heading tagName={"label"} class="h6 font-medium">
                Call Us:
              </Heading>
            <a href={`tel:${ContactData.phone}`} class="text-bg hover:text-accent">
              {ContactData.phone}
            </a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </BackgroundContainer>
  </div>
  <div class="footer-bottom flex justify-center items-center py-[var(--spacing-sm)]">
    <p class="font-thin m-0 p-0 text-lg">
      &copy; {new Date().getFullYear()} Cleanomatic. All rights reserved.
    </p>
  </div>
</footer>
