---
// src/components/ImageCard.astro
import { Image } from "astro:assets";
import Heading from "../Heading";

const { item, collectionName, HasPage } = Astro.props;
const effectiveHasPage =
  item.data.hasPage !== undefined ? item.data.hasPage : HasPage;
const { title, featuredImage } = item.data;

let imageSrc = featuredImage
  ? typeof featuredImage === "string"
    ? featuredImage
    : featuredImage
  : null;

  const containerClass = `flex h-full flex-col lg:group-odd:flex-row lg:group-even:flex-row-reverse`
  const textContainerClass = `w-full lg:w-1/2 p-[var(--spacing-md)] flex flex-col items-center justify-center text-heading`
  const imageContainerClass = `"lg:w-1/2 w-full h-full overflow-hidden"`
  const headerTag = "h3"
  const headerClass = "h3 text-bg"
  const textClass = "text-lg text-text font-thin px-[var(--spacing-md)] lg:px-[var(--spacing-xl)]"
---
<li class=`group w-full lg:h-[50vh] overflow-hidden shadow border-radius hover:shadow-lg transition-shadow lg:even:flex-row-reverse scale-up`>
  {effectiveHasPage ? (
    <a href={`/${collectionName}/${item.slug}`} class={containerClass}>
        {imageSrc && (
          <div class={imageContainerClass}>
            <Image
              src={imageSrc}
              alt={title}
              format="webp"
              loading="lazy"
              fetchpriority="low"
              quality="low"
              class="h-full w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
            />
          </div>
        )}
        <div class={textContainerClass}>
          <Heading tagName={headerTag} class={headerClass}>
            {title}
          </Heading>
          <p class={textClass}>{item.data.description}</p>
        </div>
    </a>
  ) : (
    <div class={containerClass}>
      {imageSrc && (
        <div class={imageContainerClass}>
          <Image
            src={imageSrc}
            alt={title}
            format="webp"
            loading="lazy"
            fetchpriority="low"
            quality="low"
            class="h-full w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
          />
        </div>
      )}
      <div class={textContainerClass}>
        <Heading tagName={headerTag} class={headerClass}>
          {title}
        </Heading>
        <p class={textClass}>{item.data.description}</p>
      </div>
    </div>
  )}
</li>
