---
// src/layouts/ServicesLayout.astro
import BaseLayout from "./BaseLayout.astro";
import Section from "@/components/Section.astro";
import HeroBg from "@/assets/background.svg";
import QuoteForm from "@/components/Forms/QuoteForm.astro";
import Video from "@/components/Video.astro";
import KoiVideo from "@/assets/video.mp4";
import NotLikeVideo from "@/assets/notlikekoi.mp4";
import KoiVideoPoster from "@/assets/videothumbnail.jpeg";

const {
  entry,
  description,
} = Astro.props;
console.log("entry", entry);
---
<BaseLayout {...Astro.props}>
  <Section
  title={Astro.props.title}
  buttonsSectionClass="h6 mt-[var(--spacing-2xl)] gap-[var(--spacing-xl)] flex flex-col md:flex-row items-center justify-center w-4/5"
  sectionClass="min-h-[100vh] lg:text-left flex items-center justify-center bg-cover bg-fixed bg-center z-100 text-bg shadow-lg pt-[var(--spacing-4xl)] mb-[100px]"
  contentClass="flex flex-col lg:flex-row justify-center items-center lg:gap-[var(--spacing-xl)] w-9/10 container mx-auto text-center"
  topContentClass="w-9/10 lg:w-4/6 py-[var(--spacing-sm)] lg:py-0 flex flex-col items-center justify-center lg:justify-end"
  headingAreaClass="flex flex-col text-center lg:text-left w-full h-full z-10 my-[var(--spacing-lg)]"
  heading={[
    {
      text: `Koi ${entry.slug}`,
      tagName: "h1",
      class: "text-accent py-[var(--spacing-sm)] top-heading",
    },
    {
      text: `Top-Quality ${entry.slug} Solutions for Your Home`,
      tagName: "h2",
      class: "h1 text-bg py-[var(--spacing-sm)]",
    },
  ]},
  description={description}
  descriptionClass="h4 font-thin"
  backgroundMedia={{
    video: {
      src: KoiVideo,
    },
    image: {
      src: HeroBg,
      imageClass: "filter brightness-50 bg-cover bg-center xl:bg-fixed",
    },
    overlayClass: "bg-primary opacity-60",
  }}
  buttonsSectionClass="hidden"
>

<QuoteForm/>
</Section>
<Section
collection="benefits"
query="getAll"
>
  <Video
    src={NotLikeVideo}
    poster={KoiVideoPoster}
    controls
    muted
    autoplay={true}
    loop={false}
    class="shadow-xs"
  />
</Section>
  <slot />
</BaseLayout>